<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>welcome</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <h1><h1>Welcome to Our Restaurant....</h1></h1>
  <div class="container">
    <div class="img_conatiner">
      <img
        src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="food image">

    </div>
    <div class="button_container">

      <a href="/restro/menu"><button>Menu</button></a>
      <a href="/restro/reservation"><button>reservation</button></a>
    </div>
  </div>
</body>

</html>
